app/PaulCom_10_juillet/resources/odd/PaulCom.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
            <titleStmt><title>Paul's Commentaries</title></titleStmt>
            <publicationStmt>
                <publisher>e-editiones</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="https://e-editiones.org">e-editiones.org</ref></p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.org">TEI Publisher</ref></p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc><encodingDesc><tagsDecl><rendition source="PaulCom.css"/></tagsDecl></encodingDesc><revisionDesc>
            <change when="2026-06-03T15:18:34.832+02:00">Initial version</change>
        </revisionDesc></teiHeader><text>
        <body>
            <p>ODD for Pauline Commentaries 1500–1600.</p>
            <schemaSpec start="TEI teiCorpus" ident="Commentaires-Paul" source="teipublisher.odd">
                
                
                <!-- ============================================================ -->
                <!-- fw                                                           -->
                <!-- ============================================================ -->
                <elementSpec ident="fw" mode="change"><model predicate="@type='NumberingZone'" behaviour="omit"/></elementSpec>
                
                <!-- ============================================================ -->
                <!-- ab                                                           -->
                <!-- ============================================================ -->
                <!-- CORRECTION 4 : ab était isolé sans model ; ajout d'un model block par défaut cohérent avec l'usage TEI Publisher         -->
                <elementSpec ident="ab" mode="change"><model behaviour="block" cssClass="ab-block"/></elementSpec>
                
                
                <!-- ============================================================ -->
                <!-- ab/title                                                           -->
                <!-- ============================================================ -->
                <elementSpec ident="title" mode="change"><model predicate="parent::ab[@type='MainZone-Head'] and ancestor::div[@type='chapter-title']" behaviour="block" cssClass="chapter-title"/><model predicate="parent::ab[@type='MainZone-Head'] and ancestor::div[@type='book-introduction'] and normalize-space(.)='Introduction'" behaviour="block" cssClass="chapter-title introduction-title-label"/><model predicate="parent::ab[@type='MainZone-Head'] and ancestor::div[@type='book-introduction']" behaviour="block" cssClass="chapter-title"/><model predicate="parent::ab[@type='MainZone-Head'] and @ref" behaviour="block" cssClass="section-title"/></elementSpec>
                
                <!-- ============================================================ -->
                <!-- choice                                                           -->
                <!-- ============================================================ -->
                
                <elementSpec ident="choice" mode="change"><model predicate="preceding-sibling::lb[1]/@type='DropCapitalLine'" behaviour="inline" cssClass="lettrine">
            <param name="default" value="reg"/>
            <param name="alternate" value="orig"/>
        </model><model predicate="orig and reg" behaviour="alternate">
            <param name="default" value="reg"/>
            <param name="alternate" value="orig"/>
        </model></elementSpec>
                
                
                <!-- ============================================================ -->
                <!-- lb                                                          -->
                <!-- ============================================================ -->
                
                <elementSpec ident="lb" mode="change"><model predicate="@type='DropCapitalLine'" behaviour="anchor" cssClass="drop-cap-anchor">
            <param name="id" value="@corresp"/>
        </model><model behaviour="break">
            <param name="type" value="'line'"/>
        </model></elementSpec>
                
                
                <!-- ============================================================ -->
                <!-- reg                                                          -->
                <!-- ============================================================ -->
                <elementSpec ident="reg" mode="add"><model output="web" predicate="ancestor::fw[@type='QuireMarksZone']" behaviour="inline" cssClass="quiremark">
            <param name="type" value="'quiremark'"/>
            <param name="label" value="normalize-space(string(.))"/>
        </model><model output="web" predicate="ancestor::fw[@type='NumberingZone']" behaviour="omit"/><model output="web" predicate="ancestor::fw[@type='RunningTitleZone']" behaviour="omit" cssClass="runningtitle">
            <param name="content" value="replace(replace(normalize-space(string(.)),'\p{P}+','.'),'\.{2,}','.')"/>
            <param name="type" value="'runningtitle'"/>
        </model></elementSpec>
                
                
                <!-- ============================================================ -->
                <!-- orig                                                         -->
                <!-- ============================================================ -->
                <!-- CORRECTION 5 : orig était hors de schemaSpec dans l'original -->
                <elementSpec ident="orig" mode="change"><model output="web" behaviour="omit"/></elementSpec>
                
                
                
                <elementSpec ident="pb" mode="change"><model output="print" behaviour="omit"/><model predicate="@corresp" behaviour="webcomponent" cssClass="facs pb numberingzone">
            <desc>Lien facsimile IIIF + numéro de page imprimé (fusion avec numberingzone)</desc>
            <param name="name" value="'pb-facs-link'"/>
            <param name="facs" value="let $surfaceId := if (starts-with(@corresp, '#'))                             then substring-after(@corresp, '#')                             else @corresp                             let $surface := root($parameters?root)//sourceDoc/surface[@xml:id = $surfaceId]                             let $url := $surface/graphic[1]/@url                             return                             if ($url)                             then tokenize(replace($url, '^iiif:(.*)$', '$1'), '/')[last()]                             else ()"/>
            <param name="content" value="let $nextFw := following-sibling::fw[@type='NumberingZone'][1]                   let $nextPb := following-sibling::pb[1]                   let $num := if ($nextFw and not($nextPb and ($nextPb &lt;&lt; $nextFw)))                       then $nextFw//reg[1]/normalize-space(string(.))                       else ()                   return if ($num and $num != '') then $num else ''"/>
            <param name="order" value="count($get(.)/preceding::pb) + 1"/>
            <param name="emit-on-load" value="'emit-on-load'"/>
            <param name="subscribe" value="'transcription'"/>
            <param name="emit" value="'transcription'"/>
        </model><model predicate="$parameters?iiif-viewer='pb-facsimile'" behaviour="webcomponent">
            <desc>If iiif-viewer parameter passed is set to pb-facsimile prepare pb-facs-link accordingly;
                            assumes that facs attribute starts with 'iiif' prefix, use the trailing part as a
                            link to the IIIF image; fits pb-facsimile viewer</desc>
            <param name="name" value="'pb-facs-link'"/>
            <param name="facs" value="replace(@facs, '^iiif:(.*)$', '$1')"/>
            <param name="subscribe" value="'transcription'"/>
            <param name="content" value="'Page ' || @n"/>
            <param name="emit" value="'transcription'"/>
        </model><model predicate="$parameters?static" behaviour="webcomponent" cssClass="facs pb">
            <desc>Use the url from the facs attribute to link with IIIF image;
                            assumes pb-tify viewer; passes document's path or xml:id 
                            (depending on the app's addressing configuration) to the api/iiif endpoint
                            to generate relevant manifest</desc>
            <param name="name" value="'pb-facs-link'"/>
            <param name="content" value="@n"/>
            <param name="emit" value="'transcription'"/>
            <param name="subscribe" value="'transcription'"/>
            <param name="order" value="count($get(.)/preceding::pb) + 1"/>
            <param name="emit-on-load" value="'emit-on-load'"/>
            <param name="facs" value="$parameters?context-path || &#34;/&#34; || substring-after(document-uri(root($parameters?root)), $global:data-root || '/') || '/manifest.json'"/>
        </model><model predicate="@facs" behaviour="webcomponent" cssClass="facs pb">
            <desc>Use the url from the facs attribute to link with IIIF image;
                            assumes pb-tify viewer; passes document's path or xml:id 
                            (depending on the app's addressing configuration) to the api/iiif endpoint
                            to generate relevant manifest</desc>
            <param name="name" value="'pb-facs-link'"/>
            <param name="content" value="@n"/>
            <param name="emit" value="'transcription'"/>
            <param name="subscribe" value="'transcription'"/>
            <param name="order" value="count($get(.)/preceding::pb) + 1"/>
            <param name="emit-on-load" value="'emit-on-load'"/>
            <param name="facs" value="let $ref := if ($global:address-by-id)                             then                             root($parameters?root)/descendant-or-self::TEI/@xml:id                             else                             substring-after(document-uri(root($parameters?root)), $global:data-root || '/')                             return 'api/iiif/' || $ref"/>
        </model></elementSpec>
                
        
                
                <!-- ============================================================ -->
                <!-- div : verset / commentaire                                   -->
                <!-- ============================================================ -->
                <elementSpec ident="div" mode="change"><model predicate="@type='verse'" behaviour="block" cssClass="verse-block"/><model predicate="@type='commentary'" behaviour="block" cssClass="commentary-block"/><model predicate="@type='verse+commentary-text'" behaviour="block" cssClass="verse-commentary-unit"/><model behaviour="block"/></elementSpec>
            
            </schemaSpec>
        </body>
    </text></TEI>